@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700&display=swap');

.user{
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.user span{
    font-family: Bebas neue;
    font-size: 1.5rem;
}

a{
    font-family: Bebas neue;
    letter-spacing: 0.06rem;
}
.social-sidebar.sidebar-full {
    width: 100%;
    height: 10vh;
    z-index: 300;
}

.social-sidebar .menu .accordion {
    display: flex;
    flex-wrap: wrap;
}

.social-sidebar .social-sidebar-content .scrollable {
    display: flex;
}

.social-sidebar.sidebar-full {
    width: 100%;
    height: 15vh !important;
    z-index: 300;

}

.social-sidebar.sidebar-full {
    width: 100% !important;
    z-index: 300;

}

.social-sidebar{
    margin-top: 5vh;
    width: 100%;
    height: 15vh;
    z-index: 300;

}
@media (min-width: 980px) {
    .social-sidebar {
        height: 0vh !important;
    }
}

.sidebar-full #main {
    margin-left: 0px !important;
    margin-top: 5vh;
}

.social-sidebar .user{
    border-bottom: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.wraper{
    margin-top: 20vh !important;
}

.social-navbar{
    left: 0% !important;
}

.accordion-heading{
    margin: 5px 15px !important;
}

.social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle.opened {
    background-color: #F2F2F2 !important;
}

.navigation-sidebar{
    display: none !important;
}

.dropdown-menu{
    z-index: 8907 !important;
}